<!DOCTYPE html>
<html>
<head>
	<title>Github Notifications</title>
	<link rel="stylesheet" href="/assets/main.css" />
</head>
<body>
	<header class='container'>
		<h1 class='logo'><a href='/'><em>github</em>notifications</a></h1>
		<ul class='menu'>
			<li><a href='/notifications'>Notificações</a></li>
			<li><a href='/labels'>Labels</a></li>
		</ul>
	</header>
	<section class='main container'>
		{{{body}}}
	</section>
</body>
</html>
